.header{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.header div{
  height: 300px;
  width:300px;
}


.header img{
  height: 100%;
    width: 100%;
    object-fit: cover;
}